<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ asset('/CSS/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('/CSS/app.css') }}">
  <script src="https://kit.fontawesome.com/89e753fb7b.js" crossorigin="anonymous"></script>
  <title>Connexion à l'administration</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    .card {
      margin-top: 10%;
    }
  </style>
</head>
<body>
<div class="col-md-4">
  <div class="card bg-light">
    <div class="card-header">
      <h4 class="card-title">
        <i class="fas fa-lock"></i>
        Connexion à l'administration
      </h4>
    </div>
    <div class="card-body">
      {% if hasError %}
        <div class="alert alert-warning">
          <p>Les informations fournies ne sont pas bonnes.</p>
        </div>
      {% endif %}
      <form method="post">
        <div class="form-group"><label for="_username">Email</label><input type="text" class="form-control"
                                                                           placeholder="Adresse email..."
                                                                           name="_username">
        </div>
        <div class="form-group"><label for="_password">Mot de passe</label><input type="password" class="form-control"
                                                                                  placeholder="Mot de passe..."
                                                                                  name="_password">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-primary">
            <i class="fas fa-lock-open"></i>
            Connexion
          </button>
          <a href="{{ path('homepage') }}" class="btn btn-link">
            <i class="fas fa-arrow-circle-left"></i>
            Retour au site
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
