{% extends 'base.html.twig' %}

{% block body %}

  <div class="container">
    <div class="bg-light py-5 px-5">
    <h2>Inscrivez vous sur ce site</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-secondary">Inscription</button>

    {{ form_end(form) }}
  </div>
  </div>

{% endblock %}

{% block title %}Inscription{% endblock %}

