{% extends 'base.html.twig' %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Modification d'une annonce</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary float-right">Enregistrer cette annonce</button>
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block title %}{% endblock %}

{% block javascripts %}
  <script src="{{ asset('/JS/ad.js') }}"></script>
{% endblock %}

